@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400;1,700;1,900&family=Open+Sans&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,300&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap');


*{
    margin: 0 auto;
    padding: 0;

}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h3, .tipoLetraContacto{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.tipoLetraP{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.carousel-inner img {
    max-height: 500px;
}

.carousel-indicators .active {
    background-color: #3830a8;
  }

body{
    background: rgb(33,88,77);
    background: linear-gradient(90deg, rgba(33,88,77,1) 0%, rgba(100,186,250,1) 100%);

}


.header__nav{
    background: rgb(0,36,28);
    background: linear-gradient(90deg, rgba(0,36,28,1) 0%, rgba(58,125,178,1) 100%);
}

.header__nav__div-logo{
    width: 50px;
    height: 50px;
}

body{
    padding-top: 100px;
}

  .clasefooter{  
    width: 100%;
    height: 15vh;
    position: absolute;
    margin-bottom: 0;
}

.site-footer {
    width: 100%;
    height: 150px;
}

.iconos a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 25px;
}

.iconos a i:hover {
    color: aqua;
    transform: scale(1.1);
    transition: ease-in-out .1s;
}

.white-darker-hover {
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s; }
  .white-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #d9d9d9; }

    .cyan-lighter-hover {
        color: #2e2a29;
        -webkit-transition: .4s;
        transition: .4s; }
      .cyan-lighter-hover:hover {
        -webkit-transition: .4s;
        transition: .4s;
        color: #c7e2e6; }

/*
.header__nav{
    background: rgb(187,226,210);
    background: radial-gradient(circle, rgba(187,226,210,1) 0%, rgba(92,169,205,1) 100%);
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    top: 0;
}

.header__nav ul{
list-style-type: none;
}

.header__nav ul a{
    text-decoration: none;
    color: rgb(97, 88, 88);
}

.header__nav ul li{
    margin: 0 1rem;
}

.navbar{
    display: flex;
    justify-content: flex-end;
}

.header__picture img{
    position: absolute;
    width: 50px;
    top: 1rem;
}

.header_div h1{    
    color: gray;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}




main {
    margin: 0;
    padding: 5px;
    

  }

  .main_section{
    display: flex;
    flex-direction: column;
}

.main__div-logo img{
display: block;
margin: auto;
border: solid 1px turquoise;
border-radius: 15px;
}

.main__div{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}



footer{  
    width: 100%;
    height: 15vh;
    position: absolute;
    margin-bottom: 0;
    left: 0;
    padding: 3rem 0rem;
}

.footer__div{
    display: flex;
    flex-direction: column;
}

.redes-sociales {
    margin-top: 15px;
}

.redes-sociales a {
    color: rgba(1, 3, 27, 0.822);
    margin-left: 5px;
    font-size: 20px;
}

.redes-sociales a:hover {
    color: aqua;
}

table {
    background-color: rgba(145, 200, 245, 0.589);
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: rgba(169, 235, 245, 0.651);}

  footer p{
    text-align: left;
    font-family: 'Source', sans-serif;
    font-style: italic;
    font-weight: 300;
  }

  .form-style-9{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;


}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

.form-style-9 .privacy-policy{
	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;

}

.text-center {
    text-align: center;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.boton {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.boton:hover {
    background-color: rgb(25, 221, 25);
    transition: .3s ease-in-out;
}

.hijo {
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
}

.hijo ul{
    text-align: left;
}



@media (min-width: 768px) {
    .grid-padre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media (min-width:1024px) {
    .grid-padre {
        grid-template-columns: repeat(3, 1fr);
    }
}
*/