@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400;1,700;1,900&family=Open+Sans&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,300&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap');
@import "./parciales/reset";
@import "./parciales/fontLetras";
@import "./parciales/mapa";
@import "./parciales/mixins";

body{
    background: map-get($colores,"bg_body");
    background: linear-gradient(90deg, rgba(33,88,77,1) 0%, rgba(100,186,250,1) 100%);
    padding-top: 100px;
}

header{
    .header__nav{
        background: map-get($colores,"bg_navbar");
        background: linear-gradient(90deg, rgba(0,36,28,1) 0%, rgba(58,125,178,1) 100%);
        &__div-logo{
            width: 50px;
            height: 50px;
        }
    }
}

.carousel-inner img {
    max-height: 500px;
}

.carousel-indicators .active {
    background-color: map-get($colores,"bg_color_carousel");
  }

.white-darker-hover{
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s; 
    &:hover {
        -webkit-transition: .4s;
        transition: .4s;
        color: #d9d9d9; }
}

.cyan-lighter-hover {
    color: #2e2a29;
    -webkit-transition: .4s;
    transition: .4s;
    &:hover {
        -webkit-transition: .4s;
        transition: .4s;
        color: #c7e2e6; }
}
  

.site-footer {
    @include sizes(100%,150px);
}

.iconos{
    & a {
        text-decoration: none;
        color: white;
        margin: 10px;
        font-size: 25px;
        & i:hover {
            color: aqua;
            transform: scale(1.1);
            transition: ease-in-out .1s;
        }
    }
}