h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h3, .tipoLetraContacto{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.tipoLetraP{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}