h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


.tipoLetraContacto{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h3{
    @extend .tipoLetraContacto;
}

.tipoLetraP{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}